* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
.contenedor-orden {
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.titulo-orden {
  font-size: 1.4em;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  margin: 2rem 0 0;
}
.orden-imagen {
  background-color: gray;
  width: 70%;
  height: 13rem;
  margin: 1rem;
  border: 3px solid var(--amber);
}
.orden-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.descripcion-orden {
  color: white;
  width: 90%;
  margin: 1rem auto;
  font-size: 1.1em;
}
.contenedor-cantidad {
  width: 100%;
  margin: 1em;
}
.titulo-cantidad {
  display: inline-block;
  width: 50%;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1rem;
  background-color: var(--amber);
  border-radius: 0.5rem;
}

/* estilos cantidad, solo para las vistas de "Docena de Empandas"*/
.div-contenedor-maxima {
  background-color: var(--amber);
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  padding: 0.6rem 1rem;
  border: white 1px solid;
  border-radius: 0.8rem;
}
.div-elegir-empanadas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.div-tipo-empanada {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nombre-tipo-empanada {
  color: white;
  font-size: 1.1em;
  text-align: start;
}
.botones-cantidad-empanada {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.botones-cantidad-empanada i {
  font-size: 1.6em;
  color: #ffbf00;
  margin: 0.5rem;
  transition: all 0.4s ease;
}
.botones-cantidad-empanada i:active {
  transform: scale(0.8);
}
.cantidad-empanada {
  font-size: 1.5em;
  color: white;
}
/*estilos cantidad  */
.botones-cantidad {
  width: 35%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.botones-cantidad i {
  font-size: 2em;
  color: #ffbf00;
  margin: 0.5rem;
  transition: all 0.4s ease;
}
.botones-cantidad i:active {
  transform: scale(0.8);
}
.numero-cantidad {
  font-size: 1.7em;
  color: white;
  margin: 0.5rem;
}
.contendor-detalles {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.p-detalles {
  color: var(--amber);
  display: inline-block;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid var(--amber);
  margin: 1rem;
}
.textarea-detalles {
  border: 2px solid #ffbf00;
  width: 75%;
  font-size: 1.2em;
  padding: 1rem;
  color: white;
}
.arrow {
  transition: all 0.5s ease;
}
.contenedor-adicionales {
  width: 75%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 1rem;
}
.p-adicionales,
.contenedor-adicionales i {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.contenedor-adicional-columna {
  width: 100%;
  position: relative;
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.contenedor-adicional-tipo {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.contenedor-checkbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.adicional-titulo {
  font-weight: bold;
  color: white;
  margin: 0.3rem;
}
.adicional-precio {
  font-weight: bold;
  color: white;
  margin: 0.3rem;
}
.elegir-cantidad {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contenedor-pizza {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.error-active {
  width: 100%;
  display: grid;
  place-items: center;
}
.error {
  width: 60%;
  color: red;
  font-weight: bold;
  border: 1px solid red;
  border-radius: 1rem;
  padding: 0.8rem;
  background-color: rgb(250, 129, 108);
  opacity: 0.9;
}
/* Estilos Checkbox */

.container {
  display: block;
  height: 1em;
  width: 1em;
  cursor: pointer;
  position: relative;
}

.container input {
  position: absolute;
  transform: scale(0);
}

.container input:checked ~ .checkmark {
  transform: rotate(45deg);
  height: 1em;
  width: 0.35em;
  border-color: var(--amber);
  border-top-color: transparent;
  border-left-color: transparent;
  border-radius: 0;
}

.container .checkmark {
  display: block;
  width: inherit;
  height: inherit;
  border: 2px solid var(--amber);
  border-radius: 4px;
  transition: all 0.3s;
}
.contenedor-boton-continuar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.boton-continuar,
.boton-continuar-pizza {
  width: 50%;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  background-color: var(--amber);
  padding: 0.6rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

/* Clases interactivas */

.flex {
  display: flex;
}
.rotate {
  transform: rotateX(180deg);
}

@media (min-width: 768px) {
  main {
    display: grid;
    place-items: center;
  }
  .contenedor-orden {
    width: 70%;
  }
  .titulo-orden {
    font-size: 2em;
  }
  .orden-imagen {
    width: 60%;
    height: 16rem;
  }
  .descripcion-orden {
    font-size: 1.5em;
  }
  .titulo-cantidad {
    font-size: 1.8em;
    border-radius: 1rem;
  }
  .botones-cantidad i {
    font-size: 3em;
  }
  .numero-cantidad {
    font-size: 3em;
  }
  .p-detalles {
    font-size: 1.8em;
  }
  .p-adicionales {
    font-size: 1.5em;
  }
  .contenedor-adicionales i {
    font-size: 1.5em;
  }
  .contenedor-adicional-tipo {
    width: 75%;
    margin: 0.5rem 0;
  }
  .container {
    width: 1.5rem;
    height: 1.5rem;
  }
  .container input:checked ~ .checkmark {
    height: 1.5em;
    width: 0.6em;
  }
  .adicional-titulo,
  .adicional-precio {
    font-size: 1.3em;
  }
  .boton-continuar,
  .boton-continuar-pizza {
    font-size: 1.7em;
    width: 40%;
  }
  .div-contenedor-maxima {
    font-size: 1.8em;
  }
  .nombre-tipo-empanada {
    font-size: 1.5em;
  }
  .botones-cantidad-empanada {
    width: 25%;
  }
  .botones-cantidad-empanada i {
    font-size: 2.2em;
  }
  .cantidad-empanada {
    font-size: 2em;
  }
  .error {
    font-size: 1.5em;
    width: 70%;
    opacity: 0.9;
  }
}
@media (min-width: 1024px) {
  .contenedor-orden {
    width: 50%;
  }
  .contenedor-adicionales {
    font-size: 1.2em;
  }
  .contenedor-adicional-columna {
    width: 90%;
  }
  .adicional-titulo, .adicional-precio {
    font-size: 1.4em;
  }
  .boton-continuar-pizza {
    width: 25%;
  }
  .boton-continuar {
    width: 30%;
  }
}
