* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
/* Colores */

:root {
  --amber: #fac82f;
  --dark: #000000;
  --white: #fffffc;
  --gray: #817f75;
  --base-font-family: "Roboto", sans-serif;
}

.contenedor-padre {
  background-color: var(--amber);
  height: 5rem;
}
/* CSS para el header */
.contenedor-nombre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.logo-hipervinculo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo-local {
  font-size: 2.5em;
  font-family: "Caveat", cursive;
  font-weight: bold;
  color: black;
}
.logo-AO {
  max-width: 2.5rem;
  margin: 1rem;
  margin-right: 0.2rem;
}
.remove-bg {
  filter: brightness(1);
  mix-blend-mode: multiply;
}
.contenedor-abierto {
  margin: 0.6rem;
}
.abierto {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: gray;
  border: 1px solid white;
  width: 5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-size: 0.8em;
}
.abierto i {
  margin-right: 0.2rem;
}

/*CSS para el Main*/
main {
  background-image: url("/images/others/fondo.jpg");
  background-size: 12rem;
  background-repeat: repeat;
  min-height: 41rem;
  padding-bottom: 2rem;
  text-align: center;
}

.div-titulo {
  width: 100%;
  margin: 0 0 0.8rem;
}
.principal {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
}
.p-titulo-principal {
  color: white;
  display: inline-block;
  font-size: 1.5em;
  border-bottom: 3px solid var(--amber);
  font-weight: bolder;
}
.p-titulo {
  color: white;
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  font-weight: bolder;
  padding-bottom: 0.2rem;
}
.p-titulo:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--amber);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
.p-titulo:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

/* Lista de Productos */
.columna-div-principal {
  width: 100%;
  display: none;
  flex-flow: column nowrap;
}
.lista-div-principal {
  display: flex;
  box-sizing: content-box;
  height: 5.5rem;
  flex-flow: row nowrap;
  padding: 0.4rem;
  align-items: center;
}
.imagen-div {
  border: 2px solid var(--amber);
  border-radius: 0.4rem;
  width: 7.5rem;
  height: 4.375rem;
  flex: 3;
}
.imagen-img {
  max-width: 10rem;
  max-height: 6rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.4rem;
}
.titulos-div {
  box-sizing: content-box;
  display: flex;
  flex-flow: column nowrap;
  height: 5rem;
  justify-content: flex-start;
  flex: 5;
}
.titulo-nombre-p {
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0.2rem;
}
.titulo-descripcion-p {
  color: white;
  font-size: 0.65em;
  text-align: left;
  height: 4rem;
  padding: 0.2rem;
}
.titulo-precio-p {
  font-size: 0.7em;
  text-align: left;
  color: #ffd34e;
  margin: 0.3rem;
}
.boton-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex: 2;
}
.boton-a {
  position: relative;
  display: flex;
  bottom: 0.8rem;
  justify-content: center;
  background-color: #ffcb2f;
  border-radius: 0.5rem;
  width: 3rem;
  padding: 0.5rem 0.8rem;
  margin: 0.1rem;
  color: black;
  font-size: 0.7em;
  transition: transform 0.3 ease;
}
.boton-a i {
  margin: 0.1rem;
}
.boton-a:active {
  transform: scale(0.9);
}

.contenedor-div-carrito {
  position: fixed;
  right: 5%;
  bottom: 15%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.carrito {
  font-size: 2rem;
}
.contador {
  position: absolute;
  font-size: 1em;
  right: -4%;
  top: 5%;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 65, 65);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  color: white;
}
/*CSS para el Footer*/
footer {
  background-color: var(--amber);
  height: 6rem;
}
.footer-principal-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.footer-div {
  width: 70%;
  display: flex;
  padding: 1rem 1rem 0.4rem;
  flex: 7;
}
.footer-titulo {
  color: black;
  font-size: 1em;
  padding-bottom: 0.5rem;
  font-weight: bold;
  display: inline-block;
  border-bottom: 3px solid black;
}
.footer-div-redes {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  flex: 3;
}
.footer-icono {
  font-size: 2.7em;
  margin: 0.5rem;
  color: rgb(27, 27, 27);
}

.whatsapp:hover {
  color: #25d366;
}
.instagram:hover {
  color: white;
}
.mensaje-desarrollador {
  background-color: var(--amber);
  font-size: 0.7em;
  font-weight: bolder;
  color: black;
  padding-left: 1rem;
  padding-bottom: 0.6rem;
}

/* Clases interactivas */

.hidden {
  display: none;
}
.flex {
  display: flex;
}

@media (min-width: 768px) {
  .abierto {
    font-size: 1em;
    width: 7rem;
  }
  .contenedor-padre {
    display: grid;
    place-items: center;
  }
  .contenedor-nombre {
    width: 70%;
  }
  .p-titulo-principal {
    font-size: 2.2em;
  }
  .p-titulo {
    font-size: 2em;
  }
  .columna-div-principal {
    width: 70%;
    margin: 0 auto;
  }
  .lista-div-principal {
    height: 7rem;
  }
  .imagen-div {
    height: 6rem;
    width: 11rem;
    flex: 2.2;
  }
  .imagen-img {
    max-width: 12rem;
  }
  .titulos-div {
    height: 6rem;
    margin-left: 0.5rem;
  }
  .titulo-nombre-p {
    font-size: 1.1em;
  }
  .titulo-descripcion-p {
    font-size: 1em;
  }
  .titulo-precio-p {
    font-size: 1em;
  }
  .boton-a {
    width: 4.5;
    font-size: 1em;
    padding: 0.8rem 3rem;
  }
  .contenedor-div-carrito {
    width: 5rem;
    height: 5rem;
  }
  .carrito {
    font-size: 3em;
  }
  .contador {
    font-size: 1.4em;
    width: 1.7rem;
    height: 1.7rem;
  }
  .footer-principal-div {
    width: 60%;
    margin: 0 auto;
  }
  .footer-titulo {
    font-size: 1.2em;
  }
  .footer-icono {
    font-size: 3.5em;
  }
  .mensaje-desarrollador {
    text-align: center;
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .contenedor-nombre {
    width: 50%;
  }
  .columna-div-principal {
    width: 50%;
  }
  main {
    min-height: 55rem;
  }
  .principal {
    padding-top: 4rem;
  }
  .imagen-img {
    max-width: 15rem;
  }
  .titulo-nombre-p,
  .titulo-descripcion-p,
  .titulo-precio-p {
    font-size: 1.2em;
  }
  .boton-a {
    font-size: 1.2em;
  }

  .footer-principal-div {
    width: 50%;
  }
  .footer-titulo {
    font-size: 1.2em;
  }
  .footer-icono {
    font-size: 4rem;
  }
  .mensaje-desarrollador {
    padding: 1rem;
    font-size: 1.2em;
  }
}
