<!DOCTYPE html>
<html lang="es">
  <!--Include head-->
  <%- include("partials/head", {style:"cart"}) %>
  <body>
    <!--Include header-->
    <%- include("partials/header") %>
    <main>
      <div class="div-principal-orden">
        <p class="p-titulo-pedido">Mi Pedido</p>
        <div class="div-principal-compra">
          <div class="div-titulo-compra">detalle del pedido</div>
          <div class="div-contenedor-item"></div>
        </div>
        <div class="div-principal-compra">
          <div class="div-entrega-compra">forma de entrega</div>
          <div class="div-botones">
            <div class="div-tipo-entrega" data-active="0">Delivery</div>
            <div class="div-tipo-entrega" data-active="0">Take Away</div>
          </div>
          <div class="div-formulario-delivery">
            <label for="nombre"
              ><p class="nombre-imput">Nombre de quien recibe...</p>
              <input class="input-form delivery" type="text" name="nombre" />
              <p class="error-input"></p>
            </label>
            <label for="direccion"
              ><p class="nombre-imput">Direccíon</p>
              <input class="input-form delivery" type="text" name="direccion" />
              <p class="error-input"></p>
            </label>
            <label for="hora"
              ><p class="nombre-imput">Cuando te lo enviamos ?</p>
              <input class="input-form delivery" type="time" name="hora" />
              <p class="error-input"></p>
            </label>
          </div>
          <div class="div-formulario-take-away">
            <label for="nombre"
              ><p class="nombre-imput">Nombre de quien retira</p>
              <input class="input-form delivery" type="text" name="nombre" />
              <p class="error-input"></p>
            </label>
            <label for="hora"
              ><p class="nombre-imput">Hora de retiro</p>
              <input class="input-form delivery" type="time" name="hora" />
              <p class="error-input"></p>
            </label>
          </div>
        </div>
        <div class="div-principal-compra">
          <div class="div-titulo-compra">formas de pago</div>
          <div class="div-pago-compra">
            <ul class="ul-lista-pago">
              <li class="li-pago">
                <label class="container">
                  <input type="checkbox" name="efectivo" class="formaDePago"/>
                  <div class="checkmark"></div>
                </label>
                <p class="p-pago">efectivo</p>
              </li>
              <li class="li-pago">
                <label class="container">
                  <input type="checkbox" name="transferencia" class="formaDePago"/>
                  <div class="checkmark"></div>
                </label>
                <p class="p-pago">transferencia</p>
              </li>
              <li class="li-pago">
                <label class="container">
                  <input type="checkbox" name="tarjeta de debito" class="formaDePago"/>
                  <div class="checkmark"></div>
                </label>
                <p class="p-pago">tarjeta de debito</p>
              </li>
            </ul>
          </div>
          <p class="error-payment"></p>
        </div>
        <div class="div-principal-total">
          <p class="p-total">total:</p>
          <p class="p-valor">$0</p>
        </div>
        <div class="boton-terminar-compra">
          <i class="fa-solid fa-check"></i>
          <a href="#">Continuar</a>
        </div>
      </div>
    </main>
    <!--Include footer-->
    <%- include("partials/footer") %>
    <script src="/js/orderCart.js
    "></script>
  </body>
</html>
