<footer >
    <div class="footer-principal-div">
        <div class="footer-div">
            <p class="footer-titulo">Si tienes algun problema o consulta
                no dudes en contactarnos...</p>
        </div>
        <div class="footer-div-redes">
            <i class="footer-icono">
                <a href="#"><i class="fa-brands fa-square-whatsapp whatsapp"></i></a>
            </i>
            <i class="footer-icono">
                <a href="https://www.instagram.com/ali.oli.vm/"><i class="fa-brands fa-square-instagram instagram"></i></a>
            </i>
        </div>   
    </div>
    <p class="mensaje-desarrollador">Desarrolado por: Juan Rusconi</p>
</footer>
<script src="/js/horariosDelLocal.js"></script>