<header>
    <div class="contenedor-padre">
        <div class="contenedor-nombre">
            <div class="logo-header">
                <a href="/" class="logo-hipervinculo"><img src="/images/others/logo.png" alt="imagen" class="logo-AO remove-bg"><p class="titulo-local">Ali Oli</p></a>
            </div>
            <div class="contenedor-abierto">
                <% let tiempo = new Date();%>
                <% let hora = tiempo.getHours();%>
                <% let minutos = tiempo.getMinutes();%>
        
                <%  if((hora >= 20 && hora < 24) && (minutos > 0 && minutos <= 59)) { %>
                    <%= console.log("entro en el verde") %>
                    <div class="abierto"><i class="fa-solid fa-clock"></i>Abierto</div>

                <% } else { %>
                      <%= console.log("entro en el rojo") %>
                    <div class="abierto" style="background-color: tomato"><i class="fa-solid fa-clock"></i>Cerrado</div>
                    
                    <% } %>

                


            </div>
        </div>
    </div>
</header>
