<header>
    <div class="contenedor-padre">
        <div class="contenedor-nombre">
            <div class="logo-header">
                <a href="/"><img src="/images/others/logo.png" alt="imagen" class="logo-AO remove-bg"></a>
            </div>
            <div class="contenedor-abierto">
                <div class="abierto"><i class="fa-solid fa-clock"></i> Abierto</div>
            </div>
        </div>
    </div>
</header>
